h1{
    color: darkblue;
    background-color: #f0fff0;
}
h2{
    color:darkgreen;
}
h3{
    color: rebeccapurple;
}
p{
    color: #2f4f4f;
}
.class{
    background-color:#fff8dc;
}
.small{
    color: #b8860b;
}
#specialid{
    color:#ff0000;
    background-color: aliceblue;
}
ul{
    color: #483d8b;
}
.main{
    color :blue;
    background-color: lightgoldenrodyellow
}
.large{
    color:red;
}
a {
    color: #ff0000;
  }
  a:hover {
    color: #ffff00;
  }        
  a:visited {
    color: #00ff00;
  } 
